*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.card p{
    text-align: center;
    margin-bottom: 40px;
    font-size: 17px;
    font-weight: 500;
}

.card p span{
    font-weight: 600;
    color: royalblue;
}

.card{
    width: 450px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.outter{
    height: 20px;
    width: 100%;
    background-color: rgb(197, 197, 197);
    border-radius: 50px;
}

.inner{
    height: 100%;
    width: 0%;
    background-color: green;
    border-radius: 50px;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 20px;
}

.bottom h2{
    font-size: 60px;
}

.bottom button{
    padding: 12px 25px;
    background-color: green;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    cursor: pointer;
}

.bottom button:active{
    scale: 0.90;
}